.block-1{
    border: solid 2px blue;
    /* margin-bottom: 20px;
    padding: 0 0 0 20px; */
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    /* border-style: dotted; */
    background: url('images/man.png');
    background-size: contain;
}

.block-2{
    border: dotted 2px blue;
    /* margin-bottom: 20px;
    padding: 0 0 0 20px; */
    box-sizing: border-box;
    width: 128px;
    height: 64px;
    background: url('images/grass2.png');
    background-size: contain;
}

.block-3{
    border: solid 2px blue;
    /* margin-bottom: 20px;
    padding: 0 0 0 20px; */
    box-sizing: border-box;
    width: 192px;
    height: 64px;
    /* background: rgb(208, 34, 201); */
    background: url('images/grass2.png');
    background-size: contain;
}

.man {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    /* background: url('images/ground.png'); */
    background: orange;
    background-size: contain;
}
